* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'arial';
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 35px;

}

.banner {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
}

#video-bg, #image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;/* Ensures the video or image covers the entire banner */
  opacity: 0.65;
}

#image-bg {
  display: none; /* Initially hide the image */
}
.content{
  text-align:center;
  padding: 20%;
}
.content h1{
  font-size: xxx-large;
  color:#740505;
  font-weight: 900;
  position:relative;
  align-items:flex-start;
  transition: 0.5s;
}
.content h1:hover{
  -webkit-text-stroke:2px #fff;
  color: transparent;
}

.content a{
  text-decoration: none;
  display: inline-block;
  color: #670404;
  font-size: 24px;
  border: 2px solid #bc080893;
  padding:14px 70px;
  margin-top: 20px;
  background-color: #fff;
  background: border-box;

}

.content-2 a{
  text-decoration: none;
  display: inline-block;
  color: #670404;
  font-size: 24px;
  border: 2px solid #bc080893;
  padding:14px 70px;
  margin-top: 20px;
  background-color: #fff;
  background: border-box;
  text-align: left;

}
.heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 50px;
  color:#7e0505;
}
  .wrapper { 
    max-width: 1100px; 
    width: 100%; 
    position: relative; 
  
  } 
  .wrapper i { 
    height: 50px; 
    width: 50px; 
    background: rgb(236, 57, 57); 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  
  } 
  
  .wrapper i:first-child { 
    left: -22px; 
  
  } 
  
  .wrapper i:last-child { 
    right: -22px; 
  
  } 
  
  .wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
  } 
  
  .carousel::-webkit-scrollbar { 
    display: none; 
  } 
  
  .carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  } 
  
  .carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
  } 
  
  .carousel.no-transition { 
    scroll-behavior: auto; 
  } 
  
  .carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
  } 
  
  .carousel .card { 
    scroll-snap-align: start; 
    height: 340px; 
    list-style: none; 
    background: #d6494967; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 98%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
  } 
  
  .card .img { 
    background: #fff; 
    width: 145px; 
    height: 145px; 
    
  
  } 
  
  .card .img img { 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    background: border-box;
    border: 4px solid #fff; 
  } 
  
  .card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
  } 
  
  .card span { 
    color: #020308f7; 
    font-size: 1.31rem; 
    align-items: center;
  
  } 

  
 
 .box {
  text-decoration: none;
  display: inline-block;
  color: #670404;
  font-size: 10px;
  border: 2px solid #bc080893;
  padding:14px 70px;
  margin-top: 20px;
  background-color: #fff;
  background: border-box;
  text-align: center;
 }
 .box a{
  color: black;
 }
  
  @media screen and (max-width: 900px) { 
    .wrapper .carousel .heading { 
      grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
  } 
  
  @media screen and (max-width: 600px) { 
    .wrapper .carousel .heading { 
      grid-auto-columns: 100%; 
  
    } 
  }

    .container{
        width:100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 8%;
        background-color: #e8a3a5;
        
    }

     .gallery{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 15px 0;
    }
     .gallery img {
        flex-wrap: wrap;
        width: 250px;
        margin:10px 0;
        border: 4px solid #1a1818;
    }
    .container .gallery:hover img{
        transform: scale(1.1);
    }
    .container .gallery a{
        cursor:zoom-in;
    }
    .container .gallery:nth-child(3n -2){
        grid-column: span 2;
        grid-row: span 4;
    }

    /* Media query for responsive design */
@media only screen and (max-width: 1024px) {
  #video-bg  {
    display: none; /* Hide video on smaller screens */
  }
  #image-bg {
    display: block; /* show image on smaller screens */
  }
}
